body {
    background-color: #fef0ef;
    font-family: 'Press Start 2P', cursive;
}

#pixelIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 375px;
    height: 200px;
}

#jumboText {
    font-size: 36px;
    text-align: center;
    line-height: 100px;
}
