body {
    background-color: #fef0ef;
    font-family: 'Press Start 2P', cursive;
}

#pixelIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    height: 150px;
}

#jumboText {
    font-size: 36px;
    text-align: center;
    line-height: 75px;
}

.chat {
    background-color: white;
    height: 520px;
    margin: 20px 0;
    box-shadow: 0 20px, 0 -20px, 20px 0, -20px 0, 10px 10px, 10px -10px, -10px 10px, -10px -10px;
}

.chatWall {
    height: 375px;
    margin: 20px 0;
    box-shadow: 0 10px, 0 -10px, 10px 0, -10px 0, 5px 5px, 5px -5px, -5px 5px, -5px -5px;
}

.textInput, .textSend {
    height: 75px;
    margin: 5px 0;
    box-shadow: 0 6px, 0 -6px, 6px 0, -6px 0, 3px 3px, 3px -3px, -3px 3px, -3px -3px;
}

.game {
    background-color: white;
    height: 520px;
    margin: 20px 0;
    box-shadow: 0 20px, 0 -20px, 20px 0, -20px 0, 10px 10px, 10px -10px, -10px 10px, -10px -10px;
}

.scoreBoard {
    height: 100px;
    margin: 15px 0;
    box-shadow: 0 6px, 0 -6px, 6px 0, -6px 0, 3px 3px, 3px -3px, -3px 3px, -3px -3px;
}

.userSelected {
    height: 250px;
    margin: 15px 0;
    box-shadow: 0 6px, 0 -6px, 6px 0, -6px 0, 3px 3px, 3px -3px, -3px 3px, -3px -3px;
}

.userOptions {
    height: 75px;
    margin: 10px 0;
    box-shadow: 0 6px, 0 -6px, 6px 0, -6px 0, 3px 3px, 3px -3px, -3px 3px, -3px -3px;
}
