body {
    background-color: #fef0ef;
    font-family: 'Press Start 2P', cursive;
}

.jumbotron {
    height: 190px;
    background-image: url("../images/RPS.jpg");
    background-size: 420px 240px;
    background-repeat: no-repeat;
    background-color: #fef0ef;
}

.rules {
    font-size: 36px;
    float: right;
}
